@use 'common';

@import url('https://fonts.bunny.net/css?family=Nunito');

.mediaList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media screen and (max-width: #{common.$mobileWidth}) {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

.p-menu-item-link {
    &.active {
        background: var(--p-menu-item-focus-background);
    }
}
